services:
  nginx:
    build: ./nginx
    container_name: nginx_proxy
    depends_on:
      - dict-api
      - pix-analyzer
      - dados-gov
      - receita-federal
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl:ro 
      - webapp-dist:/usr/share/nginx/html/web-app:ro
    ports:
      - '80:80'
      - '443:443'
    restart: always
    networks:
      - public_network

  db-postgres:
    image: postgres:latest
    container_name: db_postgres
    volumes:
      - pgdata:/var/lib/postgresql/data    
      - ./sql-scripts:/docker-entrypoint-initdb.d:ro
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    networks: 
      - private_network

  wait-for-db:
    image: willwill/wait-for-it
    command: db-postgres:5432 -t 30
    depends_on:
      - db-postgres
    networks:
      - private_network

  dict-api:
    build: ./dict-api/DictApi
    container_name: dict_api
    depends_on:
      - wait-for-db
    environment:
      DB_HOST: db-postgres
      DB_USER: postgres
      DB_PASSWORD: 123456
      POSTGRES_DB: dict_api
    networks: 
      - private_network
      - public_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  pix-analyzer:
    build: ./java-service/PixKeyAnalyser
    container_name: pix_analyser
    depends_on:
      - wait-for-db
      - ai-server
    environment:
      DB_HOST: db-postgres
      DB_USER: postgres
      DB_PASSWORD: 123456
      POSTGRES_DB: pix_analyser
    networks: 
      - private_network
      - public_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  dados-gov:
    build: ./registro-nacional/DadosGov
    container_name: dados_gov
    depends_on:
      - wait-for-db
    environment:
      DB_HOST: db-postgres
      DB_USER: postgres
      DB_PASSWORD: 123456
      POSTGRES_DB: dados_gov
    networks: 
      - private_network
      - public_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  receita-federal:
    build: ./registro-nacional/ReceitaFederalCNPJ
    container_name: receita_federal_cnpj
    depends_on:
      - wait-for-db
    environment:
      DB_HOST: db-postgres
      DB_USER: postgres
      DB_PASSWORD: 123456
      POSTGRES_DB: receita_federal_cnpj
    networks: 
      - private_network
      - public_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ai-server:
      build:
        context: ./python-ia/ai_analyze
        dockerfile: Dockerfile
      container_name: ai_server
      depends_on:
        - wait-for-db
      networks:
        - private_network
      volumes:
        - ./python-ia:/app
      working_dir: /app/ai_analyze
      command: ["python", "grpc_interface/server.py"]

  web-app:
    build: ./web-app/PixAnalyzer
    container_name: web_app
    depends_on:
      - pix-analyzer
    volumes:
    - webapp-dist:/app/dist
    networks:
      - public_network
      
networks:
  private_network:
    driver: bridge
  public_network:
    driver: bridge

volumes:
  pgdata:
  webapp-dist:
